@charset "utf-8";
/* CSS Document */
.filter{ display: none;}
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px !important;
    border: 0px solid #42B32F !important;
	background:transparent !important;
    border-radius: 0px;
    text-align: center;
    color: #fff !important;
	text-transform:uppercase;
	font-weight:200 !important;   border-radius:0px;   margin: 0 26px;  padding: 0PX 13px 9px !important; font-family: 'Work Sans', sans-serif;
    margin-bottom: 47px !important;

}
.btn-default.focus, .btn-default:focus{ outline:unset !important; border-radius:0px;}
.btn.active, .btn:active{box-shadow: unset !important; border-radius:0px;
    border-bottom: 1px solid #fff !important;
    PADDING: 0PX 13px 9px !important;}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;border-radius:0px;
    border-radius: 0px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px; position:relative !important;
}