@charset "utf-8";
/* CSS Document */


@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
#banner .container{ width:89% !important;}
.container{ width:100% !important;}
.pricing-banner .image {
    margin-left: -99%;}
	.image {
    margin-left: -100%;
    margin-top: 35px;
}#logos-sec ul li:last-child{ float:none;}
#logos-sec ul{ text-align:center;}
#banner h1{ font-size: 3vw;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{ width:100%;}
}

@media only screen and (max-width: 1200px) {
    #g2 .container{max-width: 90%}
	#topheader .container{ width:100% !important; padding:0px !important;}
	#banner .container{ width:90% !important;}
	.what-we-do-title h1, .blog-title h1 { font-size:65px !important;}
	.container{ width:100% !important;}
	.navbar-header{margin:0px !important;}
	.expert-sec-box ul li img{ width:100%;}
	.image{ margin-left:0px;}
	.logo{ position:absolute;     width: auto;  right: 0;}
	#contact-page .title-box{ margin-top:0px;}
	.navbar-collapse{ border:0px !important;    box-shadow: inset 0 0px 0 rgba(255,255,255,.1) !important; margin:0px !important   }
	#sec-areas .common-heading h2:before{  left:21px;}
 #sec-areas .common-heading h2:after{right:21px;}
.common-heading h2:after, .common-heading h2:before{ width:17%;}
#logos-sec ul li{ margin-right:4%;}
#banner h1{ font-size:3vw;}
.image img{ width:100%;}
.image {
    margin-left: -55%;
}
.team1 p{ padding:0 20px;}
#banner span{padding-right: 19%; padding-left:3%;}
.areas-div{     width: 33.3%;
    display: inline-block;
    float: left;}
	.about-us-title{ width:100%; margin-right:0px;}
	.about-us-title h1{font-size:7vw !important;}
	.packages-box h2 {
    font-size: 15px;}
	.packages-box p {
    font-size: 17px;
    min-height: 194px;}
	
	#text-sec .container{width:94% !important;     text-align: center;}
	.middle{ margin-top:-2px;}

    .arrow{width: 25%;position: absolute;bottom:-90px;left: 25%;}
    .arrow #nextarr{ right: initial;}
    .arrow .carousel-control{width: 100%;left: initial;}
    .arrow .carousel-control:focus, .arrow .carousel-control:hover{opacity: 1}
    #seeall{padding-top: 95px}
    #seeall button{max-width: 90%;}

}


@media only screen and (max-width: 1074px) {
    #banner:before {
        top: 71%;
    }
}

@media only screen and (max-width: 991px) {
#packages-sec .padding-mobileview{ padding:0px !important;}
.image img{ width:82%;}
#sec-box h3{ text-align:center;}
#packages-sec .container{ padding:0px !important; margin:0px !important;}
.packages-innerbox{ width: 49%; margin: 0 auto;}
.packages-box p{ min-height:auto;}
.packages-box a{ width:55%;}
#packages-sec .row { margin-right: 0;
    margin-left: 0;
}
.quotebubble .col-sm-8{min-height: 440px}
.mobilebubble{margin-bottom: 30px}
.rating img{max-width:80%;top:155px  }
.left-footer-sec{ float: left;  width: 54%;  border-right: 2px solid;  padding-right: 34px;}
.right-footer-sec{ float:right;padding-top: 0;   width: 46%;}
#bottom{display: inline-block;     width: 100%;  margin: 37px auto 0;text-align: center;}
#footer .getintouch-sec{ display:none;}
.right-footer{ margin-top: -20px; padding: 0; margin-right:0px; float: none;}

.padding-mobileview{ padding:0px !important;}
.box{ width:40%; margin:0 auto;}
#expert-service {
    position: absolute;
    top: 76%;
}.left-footer{ margin-top:0px;}
#sec-areas ul li{ width:33.3%;}
.right-img{ top:0;}
.image {  margin-left: 0 !important;}
#banner{ text-align:center;}
#banner span{ padding:0px 25%;}
#logos-sec .container{ padding:15px !important;}
  .colr-grey, .colr-green, .colr-yellow, .colr-drk-grey { min-height: 262px !important;}
  .slanted-bottom:after{   height:51px;}
  #logos-sec ul li { margin-right: 3%;}
.title-box:before{ left:14%; height:55px;}
  .title-box:after{height:55px; right:14%;}
  .title-box h1{ margin-top:12%;}
  .blogpage .title-box h1{margin-top: 55px}
  .blog img{max-width: 100% !important}
.title-box {width: 451px; margin-left:0px;}
.about-us-title h1{ float:none;}
.about-us-title{ float:none; text-align:center; width: 452px;}
.about-us-banner:before{ top:64% !important;}
.image-left{    margin-top: 41px;}
#four-sections{     padding-top: 0;    margin-top: 123px;}
.middle-boxes { width: 45%;    margin: 0 auto 27px;}

.logo-slider{ padding:25px 0; background-color:transparent}
.main-slider-div{display: inline-block;
    padding: 0 0px;
    text-align: center;}
	.certified-service{ padding-bottom:120px;}
	#myCarousel .carousel-control.left,#myCarousel .carousel-control.right { top: auto; bottom: -15%;}
#topheader .navbar-nav>li>a {
    padding: 30px 12px !important;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;}
#myCarousel .carousel-control{ left:0!important;width: 147px !important; right:0!important; top:auto!important; bottom:-44px!important; margin:0 auto!important;}
.logo-slider img{ border: 13px solid #fff; background-color: #fff;}
.content-div {
    width: 100% !important;
    margin-left: 0;
}#myCarousel .carousel-control .glyphicon-chevron-left{ margin-left:-56px !important;    left:auto !important;}
	#myCarousel .carousel-control .glyphicon-chevron-right{ margin-right:-56px !important;    right:auto !important;}
.main-slider-div p{ padding:0 0 25px;}
.what-we-do-title, .blog-title{ float:none !important;    width: 86%;}
.what-we-do-title h1, .blog-title h1 { font-size: 8vw !important;  margin: 8% auto 0;  float: none;}


.team1 h3{ margin:24px; line-height:22px;}
.what-we-do-banner .image-left{ margin-left:0px;}
.mobile{width: 61%; display:block;text-align: center;
    margin: 0 auto;}
	.dextop-veiw{ display:none;}
	
.emails-sec .carousel-control .glyphicon-chevron-left{ left:106px!important;}
.emails-sec .carousel-control .glyphicon-chevron-right{ right:106px !important;}

.emails-sec .item img{ margin:0 auto; width:100%;}
.emails-sec .carousel-control .glyphicon-chevron-left{font-size:0;}
.emails-sec .item{     text-align: center;
    margin: 0 auto;
   
}
.our-work-sec .title-box {
    width: 69% !important;}
.our-work-sec .title-box h1 {
    margin-top: 9%; font-size:7vw !important;
    position: relative;
    z-index: 10;
}
	.our-work-sec .image {margin-top:5%;}
.expert-sec-box:before{top:57%;    -webkit-transform: skewY(18deg);
    -moz-transform: skewY(18deg);
    -ms-transform: skewY(18deg);
    -o-transform: skewY(18deg);
    transform: skewY(18deg);}
	#filter-gallery {
    background-color: #54bcab !important;
    margin-top: 90px;}
	#contact-page .title-box h1{ font-size:7vw !important;}
	#contact-page .title-box{ width:100% !important;}
	#contact-page p{     padding: 28px 13% 5px;}
	.contact-box{ width:50% !important; margin:48px auto;}
#form-sec input[type="submit"]{ margin-bottom:50px;}
}

@media (max-width:991px) {
	.example-image-link { right:0;}	
}


@media only screen and (max-width: 767px) {
	.about-us-banner:before {
    top: 61% !important;}
#topheader .navbar-inverse{ float:none;    z-index: 1000;
    background-color: #124559;
    position: relative;display: inherit;
}
.areas-div{ width:100%;}
#packages-heading .common-heading h2{ width:48%;}
.packages-box p{   min-height:auto;}
#footer {
    background-color: #124559;
   padding: 33px 26px;}
	
#expert-service{ display:none;}

.expert-sec-box ul li{ width:27%;}
.logo{    position: absolute;
    top: 0;
    right: 0;    z-index: 1000;}
	.expert-sec-box{background-position:0% center;}
.navbar-toggle{ float:left!important;  padding: 5px 21px !important;  background-color: transparent !important; border:0px !important}
.navbar-toggle .icon-bar { display: block; width: 34px !important; height: 5px!important; border-radius: 4px!important; margin-top:8px !important;}

#banner{background-position: 32%;}
#banner span{ padding-left:0!important; padding-right:0px;font-size: 4vw; text-align: center;}
#banner h1{ text-align:center; font-size:5vw; padding:15px 0px; width:100%;}
.image{ margin-left:0px;text-align: center;}
.image img{ width:100%;}
#logos-sec ul{ text-align:center;}
#logos-sec ul li{width:auto; margin-right:2%; margin-bottom:10px;}
#logos-sec ul li:last-child{ float:none;}
.box{ width:50%; margin:-43px auto 30px !important;}
#sec-box1{ margin-top:-2px;}
#sec-box h3{ text-align:center;     font-size: 3vw;} 
.right-img{ display:none;}
#topheader .navbar-nav>li>a{     padding: 30px 14px !important;}

#footer span{ margin-top:0px;}

#expert-service{ padding-top:57%;}
.expert-sec-box ul li:nth-child(4){     margin-top: -11%;}
.expert-sec-box ul li:nth-child(5) { margin-top: -4%;}
#sec-areas ul{ width:50%; display:inline-block; float:left}
#sec-areas ul li{ width:100%;}

.common-heading h2:before{width:15%; left:0;}
.common-heading h2:after{ right:0; width:15%;}



.pricing-banner .image{ margin-left:0px;     margin: 76px auto 0; text-align:center;}
  .packages-innerbox{  width:67%;
    margin: 0 auto;}
	.colr-yellow .common-heading h2{ width:54%;}
	
	
#packages-sec .col-md-3{padding:0px;}
.colr-yellow .common-heading {  margin: 11px 0 0 !important;}
.pricing-banner{    padding: 30px 0 31px !important;}
.expert-sec-box:before{top: 43%;}
.expert-sec-box ul li:nth-child(2) {
    margin-top: 64px;
}
.expert-sec-box ul li:nth-child(3) {
    margin-top: 126px;
}
.box p {
    color: #124559;
    line-height: 23px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin: 25px 0px 30px;
    font-size: 15px;
    min-height: auto;
}
.colr-grey, .colr-green, .colr-yellow, .colr-drk-grey {
     min-height: auto;
}
 .packages-box a{ width:55% !important;}
.billing-box a{width:34% !important;}
.colr-yellow .row, #billing-sec .row{ margin:0px !important;}
.colr-yellow .container, #billing-sec .container{ padding:0px !important;}
#press-sec{   padding-bottom: 18px;}
#team-section .common-heading { margin: 49px 0 49px;}
.team1 p{    padding: 0 42px;}
#team-section{ padding-bottom:21px;}
#team-section .common-heading h2 {
    font-weight: 300;
    font-size: 22px !important;
    width: 43%;
}
#press-sec ul {    width: 87%;}
#press-sec .icon {
    margin-top: 7px;
}
.section1{ padding:35px 28%;}
.image-left{ margin-left:0px;     margin-top: 22px;}
.image-left img{ width:100%;}
.middle-boxes { width: 100%;    margin: 0 auto 27px;}
.bottom-box{ min-height:auto;}
#filter-gallery {
    background-color: #54bcab !important;
    margin-top: 80px;
}
 .arrow{width: 40%;left: 10%;}
 .review h2{font-size: 22px}
  .review p{font-size: 14px}
  #bubble:after{
  
    height: 67px;
    position: absolute;
    background-size: 100%;
    right:initial;
    left: 40px;
  }
  .rating img{max-width:100%;margin: 0 auto;position:initial;bottom:0;left:0;}
  .rating {
    position: absolute !important;
    bottom: -45px;
    right: 30px;
    max-width: 175px
}
#g2 h3{overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;}
    
}

@media only screen and (max-width: 740px) {
#topheader .navbar-nav>li>a {
    padding: 20px 36px !important;
}
.navbar-collapse .navbar-nav {
    margin: 14px -15px !important;
}
.common-heading h2{ width:52%;}
#sec-areas .common-heading h2 {
    background-color: #ffffff;
    width: 68%;
    font-weight: 300;
}
.areas-div{     width: 100%;
    display: inline-block;
    float: left;}

#sec-areas .contactsec h2 {
    width: 28% !important;
}

}

@media only screen and (max-width: 568px) {
.mb{margin-bottom: 50px}
.box{ width:100%;}
.logo-footer img{ width:100%;}
#bottom{padding-bottom:0px;}
#banner h1{    font-size: 5vw !important;    padding: 7px 0 !important;    position: relative;    z-index: 1000;}
#sec-box1 ul li {display: inline-block;  width: 32%; position: relative;  background-size: cover;  margin-left: 0;}
#sec-box1 ul li img{ width:100%;}
#sec-areas .common-heading h2{ font-size:16px !important; margin: -17px auto;}
.title-box h1{font-size:11vw !important;}
#billing-sec .common-heading h2{ font-size:17px !important;}
.common-heading h2{ width:67%;}
.packages-innerbox{ width:100%;}
.colr-yellow .common-heading h2 {
       width: 71% !important;
    font-size: 17px !important;}
	.slanted-bottom{ margin-top:-2px;}
	#sec-box h3{ text-align:center;     font-size:4vw;}
	.title-box h1 {  margin-top: 17%;}
.title-box { width: 70%;}
#billing-sec {
    background-color: #f15a24;
    position: relative;
}
.what-we-do-title h1, .blog-title h1 { font-size: 8vw !important; line-height:34px;}
.triangle{width:100%;     height: auto;}
.billing-box a {
    width: 54% !important;
}
.what-we-do-banner, .blog-banner{ height:auto;}
.bottom-box p{ min-height:auto;}
.what-we-do-banner .image-left, .blog-banner .image-left{ margin:25px auto 0 ;}
#filter-gallery {
    background-color: #54bcab !important;
    margin-top: -88px;
}
.our-work-sec:before {
    background-color: #54bcab !important;
    top: 34% !important;
	
}.about-us-title:before, .blogpage .title-box:before {
    left:14%;
    height:59px;
}

.about-us-title:after{ height:59px;}

.pricing-banner .title-box h1{margin-top: 16%;}
.emails-sec .carousel-control .glyphicon-chevron-left{ left:75px!important;}
.emails-sec .carousel-control .glyphicon-chevron-right{ right:75px !important;}
.expert-sec-box:before {
    top: 40%;-webkit-transform: skewY(24deg);
    -moz-transform: skewY(24deg);
    -ms-transform: skewY(24deg);
    -o-transform: skewY(24deg);
    transform: skewY(24deg);
}.contact-box{ width:100% !important; margin:0px;}
#form-sec input[type="submit"]{ margin-bottom:50px;}
#form-sec:before{ top:23%; height:83%;}
#form-sec{ padding-bottom:40px;}


}
@media only screen and (max-width: 480px) {
.left-footer-sec,.right-footer-sec { width:100%;  border:0px; padding-right: 0px;     float: left;}
.thanks-text{padding: 50px 0 70px !important; margin-top:0px !important;   font-size: 5vw !important;}
.blank_space{ display:none;}
.thanks-sec;:before{display:none !important;}
.signatureblock .photo{display: block; float: none; margin-right: 0px;margin-bottom: 20px}
.signatureblock .detail{display:block;float: none;width: 100%}
 .arrow{width: 100%;left: 0px;}
 .arrow .carousel-control{left: 0px;}
 #seeall button{height: auto;padding: 5px 25px;font-size: 14px}
  #bubble .carousel-inner:before{
   
      right: 20px;
     

    }
}

@media only screen and (max-width: 448px) {
.title-box:before {
    left: 37px;
    height: 47px;
}.what-we-do-title h1, .blog-title h1 { font-size: 8vw !important; line-height:34px;}
.title-box:after {
    height: 46px;
    right: 39px;
}
#filter-gallery {
    background-color: #54bcab !important;
    margin-top: -35%;
}
.about-us-title h1{ line-height:45px;}
#logos-sec ul li{    width: 38%; margin: 0px 8px;}
#logos-sec ul li img{ width:100%;}
#four-sections {
    padding-top: 0;
    margin-top: 0;
}
.about-us-banner{ height:100%;}
.quotebubble .col-sm-8{min-height: 545px}

#bubble:after{left: 0px}
.star{margin-top: 55px;}
#g2 h3{overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;}
}

@media only screen and (max-width: 390px) {
	#four-sections{ padding-top:0%;}
	#sec-box .common-heading {
    margin: 36px 0 59px;}
#sec-box1{ padding-top:0px;}
	.common-heading h2{ font-size:13px !important;}
	#logos-sec ul li {  width: 80%;  margin-bottom: 33px;}
	.slanted-bottom:after { height: 129px;}
	.slanted-bottom:after{clip-path: polygon( 0 0, 0 100%, 121% 130%, 0 calc(88% - 5vw) );}
	#sec-box h3 { margin-top:0px;
    text-align: center;
    font-size: 4vw;
    line-height: 22px;
}
#filter-gallery {
    background-color: #54bcab !important;
    margin-top: -56%;
}
.billing-box p {
    font-size: 15px;}
#logos-sec ul li{     width: 29%;
    margin: 0 5px;}
#logos-sec ul li img{ width:100%;}
.expert-sec-box:before{-webkit-transform: skewY(28deg);
    -moz-transform: skewY(28deg);
    -ms-transform: skewY(28deg);
    -o-transform: skewY(28deg);
    transform: skewY(28deg);}
	.expert-sec-box:before {
    top: 39%;
}

#sec-areas .common-heading h2{font-size:12px; width: 83%;}
#sec-areas .contactsec h2 {
    width: 41% !important;
}
input[type="text"], input[type="email"]{ width:99%;}
#banner:before{ top:70%;}
.pricing-banner .image { margin: 26px auto 0;  text-align: center;}

#packages-heading .common-heading h2 {  width: 64%; margin-top: -19px;font-size: 4vw!important;}
#packages-heading .common-heading{     margin: 41px 0 0px;}
#packages-heading .container, #billing-sec .container{ padding:0px;}
.packages-box h2{ padding:0 17%;}
.colr-yellow .container{padding:0px;}

.about-us-title h1{font-size:8vw !important;  line-height:45px;}
#four-sections .container{ padding:0px!important;}
#four-sections .row{ margin:0px!important;}
#press-sec{   padding-bottom: 18px;}
#team-section .common-heading { margin: 49px 0 49px;}
.team1 p{    padding: 0 42px;}
#team-section{ padding-bottom:21px;}
#team-section .common-heading h2 {
    font-weight: 300;
    font-size: 22px !important;
    width: 43%;
}
#press-sec ul {    width: 87%;}
#press-sec .icon {
    margin-top: 7px;
}
.section1{ padding:35px 15px;}
.billing-box a {
    width: 55% !important;
}
.emails-sec .carousel-control .glyphicon-chevron-left{ left:45px!important;}
.emails-sec .carousel-control .glyphicon-chevron-right{ right:45px !important;}
#contact-page p {
    padding: 28px 0 5px;
    font-size: 15px;
}
#form-sec .common-heading h2 {
    background-color: #f15a24;
    font-size: 16px !important;
    font-weight: 300;
    width: 38%;
}
#form-sec .common-heading {
    margin: 36px 0 46px;
}


}
@media only screen and (max-width: 340px) {
#logos-sec ul li {
    width: 40%;
    margin: 0 5px;
}

#filter-gallery {
    background-color: #54bcab !important;
    margin-top: -71%;
}
}

@media screen and (min-device-width: 1280px) and (max-device-width: 1399px) {
	.about-us-banner:before {
    top: 51% !important;
    webkit-transform: skewY(16deg) !important;
    -moz-transform: skewY(18deg) !important;
    -ms-transform: skewY(18deg) !important;
    -o-transform: skewY(18deg) !important;
    transform: skewY(16deg) !important;
}
}


@media screen and (min-device-width: 1400px) and (max-device-width: 1920px) {
	.middle{ margin-top:-2px;}
.what-we-do-banner:before, .blog-banner:before {
    top: 52% !important;
    webkit-transform: skewY(12deg) !important;
    -moz-transform: skewY(12deg) !important;
    -ms-transform: skewY(12deg) !important;
    -o-transform: skewY(12deg) !important;
    transform: skewY(12deg) !important;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
}
#banner:before{-webkit-transform: skewY(-11deg);
    -moz-transform: skewY(-11deg);
    -ms-transform: skewY(-11deg);
    transform: skewY(-11deg);
    transform: skewY(-11deg);}
.our-work-sec:before{	webkit-transform: skewY(-11deg)!important;
    -moz-transform: skewY(-11deg)!important;
    -ms-transform: skewY(-11deg)!important;
    -o-transform: skewY(-11deg)!important;
    transform: skewY(-11deg) !important;}
	
	   #filter-gallery .div { content: '';
    position: absolute;
    left: 0;
    bottom: -18%;
    overflow: visible;
    width: 100%;
    height: 80%;
    background: #f15a24;
    z-index: -1;
    -webkit-transform: skewY(-16deg);
    -moz-transform: skewY(-16deg);
    -ms-transform: skewY(-16deg);
    -o-transform: skewY(-16deg);
    transform: skewY(11deg);}
#packages-sec:before {
  
    top: 40%;
  
    height: 1000px;
   
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    -o-transform: skewY(15deg);
    transform: skewY(15deg);
   
}
.expert-sec-box:before{ top:46%;}
.about-us-banner:before {
    top: 46% !important;
    webkit-transform: skewY(16deg) !important;
    -moz-transform: skewY(18deg) !important;
    -ms-transform: skewY(18deg) !important;
    -o-transform: skewY(18deg) !important;
    transform: skewY(11deg) !important;
}
#form-sec:before{ top:52%;    height: 530px;   webkit-transform: skewY(-169deg) !important;
    -moz-transform: skewY(-169deg) !important;
    -ms-transform: skewY(-169deg) !important;
    -o-transform: skewY(-169deg) !important;
    transform: skewY(-169deg) !important;
}
}
@media screen and (min-device-width: 1920px) and (max-device-width: 2400px) {
.about-us-banner:before {
    top: 46% !important;
    webkit-transform: skewY(16deg) !important;
    -moz-transform: skewY(18deg) !important;
    -ms-transform: skewY(18deg) !important;
    -o-transform: skewY(18deg) !important;
    transform: skewY(8deg) !important;
}
#form-sec:before{ top:52%;    height: 520px;   webkit-transform: skewY(-169deg) !important;
    -moz-transform: skewY(-169deg) !important;
    -ms-transform: skewY(-169deg) !important;
    -o-transform: skewY(-169deg) !important;
    transform: skewY(-169deg) !important;
}
.what-we-do-banner:before, .blog-banner:before {
    top: 52% !important;
    webkit-transform: skewY(12deg) !important;
    -moz-transform: skewY(12deg) !important;
    -ms-transform: skewY(12deg) !important;
    -o-transform: skewY(12deg) !important;
    transform: skewY(12deg) !important;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
}
#banner:before{-webkit-transform: skewY(-11deg);
    -moz-transform: skewY(-11deg);
    -ms-transform: skewY(-11deg);
    transform: skewY(-11deg);
    transform: skewY(-11deg);}
.our-work-sec:before{	webkit-transform: skewY(-11deg)!important;
    -moz-transform: skewY(-11deg)!important;
    -ms-transform: skewY(-11deg)!important;
    -o-transform: skewY(-11deg)!important;
    transform: skewY(-11deg) !important;}
	
	   #filter-gallery .div { content: '';
    position: absolute;
    left: 0;
    bottom: -18%;
    overflow: visible;
    width: 100%;
    height: 80%;
    background: #f15a24;
    z-index: -1;
    -webkit-transform: skewY(-16deg);
    -moz-transform: skewY(-16deg);
    -ms-transform: skewY(-16deg);
    -o-transform: skewY(-16deg);
    transform: skewY(11deg);}
#packages-sec:before {
  
    top: 40%;
  
    height: 1000px;
   
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    -o-transform: skewY(15deg);
    transform: skewY(15deg);
   
}
.expert-sec-box:before{ top:46%;}
.about-us-banner:before {
    top: 46% !important;
    webkit-transform: skewY(16deg) !important;
    -moz-transform: skewY(18deg) !important;
    -ms-transform: skewY(18deg) !important;
    -o-transform: skewY(18deg) !important;
    transform: skewY(11deg) !important;
}
}